* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
}
.txt-center{
    text-align: center;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.wrapper {
  width: 50%;
  background-color: #99cdfd;
}
.container {
  padding: 0 50px;
}
header {
  text-align: center;
}

header > h1 {
  margin-bottom: 30px;
}
hr {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}


/* section 2 */
.w-label {
  display: inline-block;
  width: 250px;
}
/* radio */
.radio-section > label {
  width: 40%;
  float: left;
}
.radio-choice {
  width: 50%;
  float: left;
}

.radio-choice label {
  width: 40%;
  display: inline-block;
}
/* check box */
.checkbox-section > label {
  width: 40%;
  float: left;
}

.checkbox-section .check-box-side {
  width: 50%;
  float: left;
}

.check-box-side label {
  margin-right: 40px;
}




/* section 3 */

#section-3 > label{
    width: 40%;
    float: left;
}
#section-3 .text-box-div {
    width: 50%;
    float: left;
}
#section-3 .text-box {
    width: 100%;
    height: 80px;
    border: 1px solid #ccc;
}

footer{
    margin-top: 30px;
}
