* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}

body {
  display: flex;

  justify-content: center;
}

.wrapper {
  width: 50%;
  border: 1px solid #6da5d9;
  padding: 5px;
}
fieldset {
  padding: 15px;
}
.your-mes label {
  display: inline-block;
  width: 100px;
}
input {
  border: 1px solid #aaa;
}
textarea {
  border: 1px solid #aaa;
}

.mes {
  display: flex;
  align-items: center;
}

.file {
  border: none;
}

footer button {
  margin-bottom: 20px;
  padding: 2px;
}
