* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
/* header */
header {
  color: white;
}
.logo {
  background-image: url(./img/background.png);
  height: 190px;
  display: flex;
}
.logo div {
  height: 190px;
  margin-top: 60px;
  letter-spacing: 7px;
}

.menu {
  background-color: #b1adaa;
  display: flex;
}
.menu li {
  padding: 5px 25px;
  font-size: 150%;
}
/* main */
.main {
  display: flex;
  justify-content: space-between;
}
/* left */
.left {
  width: 35%;
  padding: 30px;
}

.left-top {
  border: 1px solid #ccc;
}
.left-top img {
  width: 100%;
  padding: 1%;
}

.left-bot {
  margin-top: 30px;
  border: 1px solid #ccc;
}
.left-bot img {
  width: 100%;
  padding: 1%;
}

/* main */
.main {
    font-size: 150%;
}
.main .center {
  width: 35%;
  padding: 30px;
}
.main .center h3 {
  color: #D59AA9;
  margin-bottom: 20px;
}
.main-top {
  height: 50%;
}

.main-bot {
  height: 50%;
}
/* right */
.right {
  width: 30%;
  padding: 30px;
  border-left: 1px solid #ccc;
}

.right-top {
    color: #D59AA9;
    height: 50%;
    
}
.right-top h2 {
    margin-bottom: 30px;
}
.right-top h3 {
    padding: 10px;
}
.right-bot {

}
.right-bot h2 {
    color: #D59AA9;
    margin-bottom: 30px;
}

/* footer */
footer {
  background-color: #b1adaa;
  padding: 10px;
  color: white;
}
