* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
}
.wrapper {
    width: 960px;
    background: linear-gradient(#6DCAEC,#5FA2F1 );
    
}
/* headder */
header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    height: 60px;
    line-height: 60px;
    
}
header nav ul {
    display: flex;
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    gap: 17px;
}
header nav ul a{
    text-decoration: none;
    color: white;
}
header nav ul a:hover {
    color: yellow;
}
header h1 {
    color: white;
    text-shadow: 2px 2px 2px blue;
}

/* main  */
main {
    border-top: 5px dotted white;
    border-bottom: 5px dotted white;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 40px;
}

main .left {
    color: white;
    width: 50%;
    margin: 10px;
    margin-top: 0;
}
main .left h1 {
    margin-bottom: 15px;
}
main .left p {
    text-align: justify;
}
main .left .form {
    margin: 0 7%;
}
main .left .form label {
   display: inline-block;
   width:190px;
}
main .left label, input {
    margin: 2px;
}
main .left input, textarea {
    border-radius: 4px;
    padding: 2px;
}
main .left .text-area label {
    position: relative;
    top: -25px;
}
main .left .btns input:first-child {
    margin-left: 200px;
    
}
main .left .btns input {
    border: 1px dotted blue;
    padding: 3px 6px;
}
main .left .btns input:hover {
    background-color: rgb(20, 234, 223);
cursor: pointer;

}
main .right {
    width: 50%;
}
main .right img {
    width: 80%;
    margin-left: 5%;
    margin-bottom: 30px;
}
main .right h2, main .right p {
    color: blue;
    text-shadow: 2px 2px 2px ;
    margin-left: 20%;
    
}
/* footer  */
footer {
    text-align: center;
    margin: 20px 0;
    color: white;
    font-weight: 500;
}

