* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
}
.wrapper {
  width: 70%;
  /* height: 800px; */
  border: 1px solid #29507b;
}

header {
  height: 110px;
  background-color: #29507b;
  color: white;
  display: flex;
  position: relative;
}
header .img {
  width: 10%;
 
}
header img {
    width: 70%;
    margin-top: 10px;
}
header .logo {
  width: 30%;
  margin-top: 30px;
}
header nav {
  width: 60%;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0px;
  right: 15px;
}
.menu li {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
  background-color: #3872b0;
  padding: 15px;
}
.menu li:hover {
    background-color: green;
}
.menu li a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}
header .search {
  position: absolute;
  top: 10px;
  right: 15px;
}
header .search button {
    margin-left: 10px;
}
header .search input,
header .search button {
  background-color: #29507b;
  color: white;
  padding: 3px;
}

header .search input::placeholder {
    color: white;
}
main {
  height: 500px;
  display: flex;
}
/* left */
main .left {
  width: 70%;
  margin: 10px;
}
main .left h2 {
  display: block;
  border-bottom: 5px dotted orange;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

main .left .form {
  width: 60%;
  padding-right: 30px;
}
main .left .form h4 {
  color: orange;
  text-shadow: 2px 2px 0px gray;
}
main .left form > label {
  display: inline-block;
  width: 45%;
}
main .left .form > input {
  width: 45%;
}

.text-a label {
  display: block;
}
main .left .form label {
  margin-top: 15px;
}
main .left .form .btn input {
  margin-top: 15px;
  padding: 5px;
}

main .left .infor {
  width: 40%;
}

main .left .infor h2 {
  border-bottom: 3px dotted orange;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

main .form-infor {
  display: flex;
}
/* right */
main .right {
  margin-top: 40px;
  width: 30%;
  margin-right: 30px;
  margin-left: 20px;
  background-color: #f8f8f8;
  height: 400px;
  padding: 20px;
}
main .right h2 {
  border-bottom: 3px dotted orange;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
main .right img {
    margin-bottom: 30px;
  width: 90%;
}
main .right span {
  float: right;
  color: #29507b;
  font-weight: 700;
}
footer {
  height: 50px;
  margin-top: 30px;
  background-color: #29507b;
  color: white;
}
footer p {
    line-height: 50px;
text-align: center;
}
